# {{ ansible_managed }}
cluster.name: pesclus

network.host: 0.0.0.0


http.port: 9200


discovery.zen.ping.unicast.hosts: ["dlplivoes01.topmkt.net", "dlplivoes02.topmkt.net", "dlplivoes03.topmkt.net"]


discovery.zen.minimum_master_nodes: 3


script.inline: True
script.indexed: True